* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #1f1f1f;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  padding: 0 30px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  background: #ffffff;

  border-bottom: 1px solid #f2f2f2;

  z-index: 999;

}

.logo {
  margin-right: 50px;
}

.logo img {
  width: 170px;
  display: block;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.menu a {
  text-decoration: none;
  color: #777575;

  font-size: 15px;
  font-weight: 500;

  white-space: nowrap;

  transition: 0.3s;
}

.menu a:hover {
  color: #c42026;
}


.buttons-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 40px;
}

.btn {

  display: flex;
  align-items: center;
  justify-content: center;

  height: 42px;
  padding: 0 22px;

  border-radius: 10px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 600;

  text-decoration: none;

  cursor: pointer;

  white-space: nowrap;

  transition: 0.3s ease;

}

.btn-outline {
  background: #ffffff;
  color: #c42026;
  border: 1px solid #c42026;
  min-width: 150px;
}

.btn-outline:hover {
  border-color: #c42026;
  color: #c42026;
}

.btn-red {
  background: #c42026;
  color: #ffffff;
  border: 1px solid #c42026;
  min-width: 150px;
}

@media (max-width: 1024px) {
  .menu {
    gap: 20px;
  }

  .menu a {
    font-size: 14px;
  }

  .btn {
    padding: 0 18px;
  }
}

@media (max-width: 768px) {

  .menu,
  .buttons-header {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.hero{
  position: relative;

  min-height: 100vh;

  overflow: hidden;
}

.background-hero{
  position: absolute;
  inset: 0;

  background-image: url("img/background.png");
  background-size: cover;
  background-position: center;

  z-index: 1;
}

.background-hero::after{
  content: "";

  position: absolute;
  inset: 0;

  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.80) 25%, rgba(255,255,255,0.30) 50%,rgba(255,255,255,0) 70%);
}

.hero-content{
  position: relative;
  z-index: 2;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 140px;
  padding: 100px 60px 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text-hero{
  width: 45%;
  max-width: 700px;
}

.img-hero{
  width: 52%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-hero{
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.buttons-hero .btn{
  width: auto;
}

.phone-hero{
  width: 260px;
  position: absolute;

  top: 70px;
  left: -10px;

  z-index: 3;

}

.dashboard-hero{
  width: 500px;

  position: absolute;

  right: 140px;
  top: 100px;
}

.title-hero{
  margin-top: 15px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.15;
}

.title-hero span{
  color: #c42026;
}

.subtitle-hero{
  margin-top: 40px;

  font-size: 12px;
  font-weight: 700;

  letter-spacing: 3px;
  text-transform: uppercase;

  color: #c42026;
}

.description-hero{
  margin-top: 30px;

  max-width: 580px;

  font-size: 18px;
  line-height: 1.5;

  color: #3d3d3d;
}

.solutions{
  min-height: 100vh;
  padding: 80px 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.solutions-title{
  text-align: center;
  font-size: 36px;
  font-weight: 700;

  margin-bottom: 40px;
}

.solutions-title span{
  color: #c42026;
}

.solutions-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.solution-card{
  background: #faf7f3;
  border: 1px solid #ece7df;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: .3s;
}

.solution-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(196, 32, 38, 0.12);
}

.solution-image{
  height: 160px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

.img-solution{
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
}

.title-solution{
  min-height: 60px;
  color: #c42026;
  font-size: 18px;
  font-weight: 700;
}

.description-solution{
  min-height: 110px;
  color: #555;
  line-height: 1.6;
  margin-top: -10px;
  margin-bottom: 20px;
}

.link-solution{
  margin-top: auto;
  text-decoration: none;
  color: #c42026;
  font-weight: 600;
}

.link-solution:hover{
  opacity: .8;
}

.solution-icon{
  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  border-radius: 50%;

  background: #c42026;

  color: #ffffff;

  font-size: 24px;
}

.how-does-it-work{
  min-height: 380px;

  padding: 50px 60px;
  display: flex;
  align-items: center;
  gap: 30px;
  background: #ffebec;
}

.how-left{
  width: 340px;
  flex-shrink: 0;
}

.how-subtitle{
  color: #c42026;

  font-size: 14px;
  font-weight: 700;

  margin-bottom: 10px;
}

.how-title{
  font-size: 45px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: -1px;
}

.how-title span{
  color: #c42026;
}

.how-steps{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
  align-items: start;
}

.step{
  position: relative;
  text-align: center;
  padding-top: 20px;
}

.step-number{
position: absolute;
top: -25px;
left: 50%;
transform: translateX(-50%);
width: 36px;
height: 36px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background: #c42026;
color: white;
font-weight: 700;
z-index: 2;
}

.step i{
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 1px solid #e6d7d7;
  background: white;
  color: #c42026;
  font-size: 28px;
}

.step h3{
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
}

.step p{
  max-width: 180px;
  margin: 0 auto;
  color: #666;
  font-size: 12px;
  line-height: 1.5;
}

.step:not(:last-child)::after{
  content: "";
  position: absolute;
  top: 50px;
  left: calc(50% + 40px);
  width: calc(100% - 20px);
  border-top: 2px dashed #d9b4b4;
}

.blog {
  min-height: 100vh;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
 }

 .blog-header{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}

 .blog-header .btn{
    margin-top: 32px;
}

.blog-subtitle{
  color: #c42026;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.blog-cards{
  background: #faf7f3;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  transition: .3s;
}

.post{
    background: #ece7df;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease;
}

.post:hover{
    transform: translateY(-5px);
}

.post img{
    height: 180px;
    object-fit: cover;
}

.post span{
    display: block;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 20px 10px;
}


.post p{
    color: #555;
    line-height: 1.6;
    padding: 0 20px 24px;
}

.post h3{
  padding: 0 20px 10px;
  color: #c42026;
  font-size: 18px;
}

.titles-footer{
  color: #c42026;
}

.footer{
    background: #fff;
    padding: 100px 6% 40px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.footer-brand img{
    width: 180px;
}

.footer-brand p{
    color: #8d8d8d;
    line-height: 1.8;
    margin: 30px 0;
}

.social-links{
    display: flex;
    gap: 20px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-column h3,
.footer-app h3{
    margin-bottom: 14px;
}

.footer-column a{
    color: #8d8d8d;
}

.footer-app img{
    width: 150px;
    margin-bottom: 12px;
}

.footer-app > img:last-child{
    width: 120px;
}

.footer-bottom{
    grid-column: 1/-1;
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    color: #777;
}

.image-google{
  width: 300px;
}

.qr-code{
  
}
